.post1 {
  color: red;
  margin: 12px;
  border: 2px solid red;
  padding: 4px;
  background-color: orange;
}
.post2 {
  color: blue;
  margin: 12px;
  border: 2px solid blue;
  padding: 4px;
  background-color: orange;
  text-align: center;
}
.post3 {
  border: 2px solid gray;
  margin: 12px;
  padding: 4px;
  background-color: orange;
  color: gray;
}
.all {
  color: green;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  text-align: center;
}
.About {
  color: brown;
  margin: 12px;
  border: 2px solid purple;
  padding: 4px;
  background-color: orange;
  text-align: center;
}
.column {
  width: 370px;
  float: left;
    color: black;
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
  background-color: orange;
}
.float {
  border: 2px solid gray;
  margin: 12px;
  padding: 4px;
  background-color: orange;
  color: gray;
}
span {
  float: right;
}

body {
  background-image: url("Dublin-Roasters-Beans.jpg");
}
