.post1 {
  color: red;
}
.post2 {
  color: blue;
  text-align: center;
}
.post3 {
  color: gray;
}

.all {
  color: green;
  text-align: center;
}
.About {
  color: brown;
  text-align: justify;
}
img {
  float:
}
.column {
  width: 370px;
  float: left;
}
body {
  background-image: url("Dublin-Roasters-Beans.jpg");
}
